#forgot-password-page {
    /* margin-top: 260px; */
    padding: 178px 0;
    text-align: center;
    background: url('./images/background.png') no-repeat;
    background-size: cover;
    background-position-y: 135px;
    background-attachment: fixed;
}

#forgot-password-page .form-item {
    margin: auto;
    margin-top: .8rem;
    /* height: 70px; */
}

#forgot-password-page input {
    width: 300px;
}

#forgot-password-page .auth-box h1 {
    font-family: 'Catamaran', sans-serif;
    color: var(--primary-color);
    margin-top: 50px;
    font-size: xx-large;
    margin-bottom: 1rem;
}

#forgot-password-page .auth-box .text {
    font-family: 'Catamaran', sans-serif;
    color: #333D50;
    margin-top: 50px;
    width: 70%;
    /* font-size: xx-large; */
    margin: auto;
    margin-bottom: 3rem;
}

#forgot-password-page .auth-box.step-2 .text {
    margin-top: 110px;
}

#forgot-password-page .btn {
    margin-top: 50px;
}
