#student-information {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

#student-information h2{
    color: #7b7b7b;
    text-align: center;
    margin-top: 40px;
}

#student-information h1{
    text-align: center;
    font-size: 60px;
}

#student-information div{
    text-align: center;
}

#instructor-dashboard .menu-header-2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

#instructor-dashboard .menu-header-2 div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#instructor-dashboard .menu-header-2 div.right-side {
    margin-right: 10px;
}

#instructor-dashboard .menu-header-2 div.right-side input{
    width: 270px;
}

#instructor-dashboard .menu-header-2 .right-side .status-dropdown {
    margin-right: 15px;
}

#instructor-dashboard .menu-header-2 .right-side .status-dropdown .MuiInputLabel-outlined {
    z-index: 0;
}

#instructor-dashboard  .MuiOutlinedInput-adornedEnd {
    padding-right: 0;
}

#instructor-dashboard .menu-header-2 .btn{
    margin-left: 30px;
}

#student-table {
    margin-top: 30px;
}

#student-table td.MuiTableCell-root {
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-header {
    font-weight: 600 !important;
    font-size: 12px !important;
}

#student-table .table-row-button:not(:first-child) {
    margin-left: -10px;
}

#student-table .button-filler {
    display: inline-block;
    width: 38px;
    height: 1px;
}

.status {
    margin: auto;
    text-align: center;
    background-color: #ddd;
    border-radius: 15px;
    padding: 4px 1rem;
    width: 120px;
    font-weight: bold;
}

.status-in-analysis {
    background-color: #DAF5FF;
    color: #6CAEC7;
}

.status-invalid {
    background-color: #F5CFCC;
    color: #E06257;
}

.status-searching {
    background-color: #FFDE8A;
    color: #E5A300;
}

.status-test-found {
    background-color: #D1EAD2;
    color: #66BB6A;
}

.status-paused {
    background-color: #E5E5E5;
    color: #7B7B7B;
}

/* CREATE / UPDATE STUDENT SCREENS */
#background-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.close-button {
    position: absolute !important;
    top: 10px;
    right: 10px;
    background-color: var(--danger-color) !important;
}

#edit-student-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 820px;
    height: 600px;
    background-color: white;
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
}

#create-student-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 820px;
    height: 600px;
    background-color: white;
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
}

#edit-student-screen input,
#create-student-screen input{
    width: 340px !important;
}

#multiple-select {
    width: 342px !important;
    border: 1px solid #7B7B7B;
    border-radius: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* height: 41px; */
}

#add-student-form,
#edit-student-form {
    margin-top: 65px;
}

#edit-student-screen select,
#create-student-screen select {
    width: 322px;
}

#add-student-form .form-row,
#edit-student-form .form-row {
    /* width: 800px; */
    margin: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#add-student-form .form-item,
#edit-student-form .form-item {
    margin: 0;
    height: 65px;
}

#add-student-form .form-row .form-item:nth-child(2),
#edit-student-form .form-row .form-item:nth-child(2) {
    margin-left: 20px;
}

#edit-student-screen h1,
#create-student-screen h1 {
    font-size: 40px;
    margin-top: 25px;
    color: var(--primary-color)
}

#add-student-form button,
#edit-student-form button {
    margin-top: 20px;
}

/* END CREATE / UPDATE STUDENT SCREENS */


/* SIDEBAR */
#sidebar {
    background-color: #FAFAFA;
    min-height: 930px;
    flex-basis: 270px;
    flex-shrink: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
#sidebar .inner-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

#sidebar .sidebar-button .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 2rem;
    margin-right: 1.3rem;
    width: 30px;
}

#sidebar .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 22px;
    /* margin: auto; */
    width: 100%;
    margin: .9rem 0;
    cursor: pointer;
}

#sidebar .sidebar-button.highlighted {
    color: var(--secondary-color);
}

#sidebar .sidebar-button.highlighted .sidebar-icon {
    fill: var(--secondary-color);
}  

.sidebar-icon {
    fill: var(--primary-color)
}