#login-page {
    margin-top: 260px;
    text-align: center;
}

#login-page h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    margin-bottom: 2rem;
}

#login-page input {
    width: 300px;
}

