#profile-menu {
}

#profile-menu input {
    width: 270px;
}

#profile-menu .form-row {
    display: flex;
}

#profile-menu .form-row .form-item {
    width: 300px;
    margin-right: 35px;
}

#profile-menu select,
#profile-menu select {
    width: 252px;
}

.menu-header-2 {
    margin-top: 50px;
}

#change-email-form .button-container,
#change-password-form .button-container {
    margin-top: 2rem;
}

#change-email-form button:first-child,
#change-password-form button:first-child {
    margin-right: 20px;
}

#change-email-form input,
#change-password-form input {
    width: 270px;
}

#success-menu button {
    margin-top: 35px;
}