#reset-password-page {
    /* margin-top: 260px; */
    padding: 178px 0;
    text-align: center;
    background: url('./images/background.png') no-repeat;
    background-size: cover;
    background-position-y: 135px;
    background-attachment: fixed;
}

#reset-password-page .form-item {
    margin: auto;
    margin-top: 1.2rem;
    max-height: 65px;
}

#reset-password-page input {
    width: 300px;
}

#reset-password-page .auth-box h1 {
    font-family: 'Catamaran', sans-serif;
    color: var(--primary-color);
    margin-top: 50px;
    font-size: xx-large;
    margin-bottom: 3rem;
}

#reset-password-page .auth-box.step-2 h1 {
    margin-top: 135px;
    font-size: xx-large;
    margin-bottom: 1rem;
}

#reset-password-page .btn {
    margin-top: 50px;
}
