#signup-page {
    margin-top: 200px;
    text-align: center;
}

#signup-page h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

#signup-page input {
    width: 270px;
}

#signup-page .icon-textfield input {
    width: 214px;
}

#signup-form {
    text-align: center;
    margin: auto;
    width: fit-content;
}


