* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00B0F0;
    --secondary-color: #FFB600;
    --danger-color: #FF4C00;
}

body {
    font-family: sans-serif;
}

#main-content {
    /* width: 90%; */
    margin: auto;
}

.someclass {
    display: block;
}

.container {
    margin-top: 50px;
    text-align: center;
}

.container input {
    width: 300px;
}

.btn {
    /* width: 130px; */
}

a {
    margin-left: 1rem;
    text-transform: capitalize;
    font-size: x-large;
}

.form-item {
    position: relative;
    width: fit-content;
    margin-top: 1.5rem;
}

.input-error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -15px;
}

